<!-- トップページHTML -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>例題</title>
</head>
<body>
    <div id="app">
        <h2>アカウント作成</h2>
        <!-- パスワード入力  v-model使用 -->        
        パスワード：<input type="password" v-model="inputPassword" placeholder="パスワード">
        <!-- パスワード確認入力 v-model使用 -->        
        パスワード確認：<input type="password" v-model="password_confirmation" placeholder="パスワード確認">
        <!-- 登録ボタン　条件付きレンダリング -->
        <!-- パスワード一致の場合、登録ボタン -->
        <button type="button" v-if="passwordCheck">登録</button>
        <!-- パスワード不一致の場合、使用不可ボタン　-->
        <button type="button" v-else="passwordCheck">使用不可</button>
        <!-- メッセージ　条件付きレンダリング -->
        <!-- パスワード不一致の場合、メッセージ表示　-->
        <p v-if="passwordCheckMissMatch">パスワードが一致しません</p>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script/script.js"></script>
</body>
</html>